body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

h1 {
  color: white;
  font-size: min(6rem, 11vw);
  font-family: hwt-republic-gothic-outline,sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  color: white;
  font-size: min(5rem, 10vw);
  font-family: hwt-republic-gothic-solid,sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .1em;
}

h3 {
  color: rgb(97, 52, 118);
  font-size: min(2.5rem, 7vw);
}

h6 {
  color: rgb(97, 52, 118);
  font-size: 1.25rem;  
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

#hero {
  width: 100vw;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  #hero {
    height: 100vh;
  }
}

.bounding {
  overflow: hidden;
  position: relative;
}

.full-image {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 750px) and (orientation: portrait) {
  #help {
    margin-left: -50%;
  }
  #laptop {
    margin-left: -160%;
  }
  #girl {
    margin-left: -10%;
  }
}

#hero-fade {
  animation: fadein 6s;
  animation-timing-function: ease-in-out;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.hero-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#top-box {
  display: flex;
  width: 100%;
  height: 25%;
}

#logo-box {
  width: 45vw;
  min-width: 300px;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn-white {
  animation: blacktowhite 4s ease-in;
}

@keyframes blacktowhite {
  0% {
    color: black;
  }
  50% {
    opacity: 0;
  }
  100% {
    color: white;
  }
}

#welcome-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40%;
}

#white-logo {
  width: 20vw;
  height: auto;
  min-width: 250px;
}

.button {
  width: 172px;
}

#grid-container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 525px 600px 600px 600px;
}

@media only screen and (max-width: 1000px) {
  #grid-container {
    grid-template-columns: auto;
    grid-template-rows: 525px 525px 600px 600px 600px 600px;
  }
}

.lorem-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lorem {
  width: 50%;
  margin-left: 10vw;
  max-width: 75vw;
}

.purple-lorem {
  width: 200px;
  height: auto;
}

.grid-image {
  grid-column-start: 2;
  grid-column-end: 3;
  /* margin-left: -50%; */
}

@media only screen and (max-width: 1000px) {
  .grid-image {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.grid-wide {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media only screen and (max-width: 1000px) {
  .grid-wide {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-box {
  width: 20vw;
  min-width: 180px;
}

.offset-box {
  width: 40%;
}

@media only screen and (max-width: 1000px) {
  .offset-box {
    width: 0%;
  }
}

#icons {
  background-color: rgb(250, 250, 250);
  display: flex;
  align-items: center;
  justify-content: center;
}

#icons-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 100px;
}

@media only screen and (max-width: 1000px) {
  #icons-box {
    margin-right: 0%;
  }
}

.icon-row {
  display: flex;
  justify-content: center;
  height: 200px;
}

.subject-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 165px;
  height: 165px;
  margin: 0 20px 0 20px;
}


@media only screen and (max-width: 1000px) {
  .subject-box {
    margin: 0%;
  }
}

.icons {
  width: 99px;
  height: auto;
  margin: 20px 20px 20px 20px;
}


.subject-box:hover .icons {
  animation: pop .5s linear forwards;
}

@keyframes pop {
  from { width: 99px; }
  to { width: 110px; }
}




#ratings-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 400px;
}

@media only screen and (max-width: 1000px) {
  #ratings-box {
    flex-direction: column;
    justify-content: space-around;
    min-height: 550px;
  }
}

#exclamation-box {
  width: 25vw;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stars {
  width: 12vw;

  min-width: 150px;
}

#carousel-box {
  width: 40vw;
  min-width: 300px;
}

@media only screen and (max-width: 1000px) {
  #carousel-box {
    width: 100%
  }
}

#carouselExampleIndicators {
  height: 300px;
  width: 100%;
}

.carousel-inner {
  width: 75%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  /* background-image: none; */
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 35px;
  color: rgb(97, 52, 118);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  color: rgb(97, 52, 118);
}

@media only screen and (max-width: 1000px) {
  .carousel-indicators {
    bottom: -40px;
  }
}

.carousel-indicators .active {
  background-color: rgb(97, 52, 118);
}

.carousel-indicators li {
  background-color: grey;
}

.carousel-item .active {
  display: flex;
  justify-content: center;
}

.slide {
  width: 100%;
  /* min-width: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}




#footer-background {
  width: 100vw;
  height: 152px;
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
}

#follow-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#social-logos {
  width: 152px;
  height: auto;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

#header-hero {
  min-width: 100%;
  position: relative;
}

#header-logo {
  position: absolute;
  top: 5%;
  left: 20%;
  max-width: 400px;
  height: auto;
}

form {
  width: 50%;
}

#submit {
  max-width: 300px;
}

.box1 {
  max-height: 50px;
}

.box2 {
  min-height: 300px;
}
