body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

h1 {
  color: white;
  font-size: 6rem;
}

h2 {
  color: white;
  font-size: 5rem;
}

a {
  text-decoration: none;
}

#hero {
  width: 100vw;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bounding {
  overflow: hidden;
  position: relative;
}

.full-image {
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#top-box {
  display: flex;
  width: 100%;
}

#logo-box {
  width: 45vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#white-logo {
  width: 25vw;
  height: auto;
}

.button {
  width: 172px;
}

#grid-container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 525px 525px 525px 525px;
}

.purple-lorem {
  width: 200px;
  height: auto;
}

.grid-image {
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid-wide {
  grid-column-start: 1;
  grid-column-end: 3;
}

#icons {
  background-color: rgb(250, 250, 250);
}

#icons-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon-row {
  display: flex;
  justify-content: space-around;
}

.subject-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 160px;
}

.icons {
  width: 99px;
  height: auto;
}

#ratings-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

#footer-background {
  width: 100vw;
  height: 152px;
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
}

#follow-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#social-logos {
  width: 152px;
  height: auto;
}
